*{
    text-align: center;
    background-color: gray;
}
.aktif {
    background-color:rgb(66, 61, 61);
    color: white;
}
/* Aciklama yapilabilir*/

h1{
    font: size 3rem;
    text-align: center;
    color: blue;
}
p.aaa{
    font-size: 1.3rem;
    background-color:greenyellow;
    color: darkred;
}
.bbb{
    font-weight: bold;
}